In [1]:
import numpy as np
import json

In [2]:
json_data=open('data.json', 'r')
loaded_data= json.load(json_data)
print(len(loaded_data))
print(type(loaded_data))
print(type(loaded_data[0]))
print(type(loaded_data[0]["friends"]))

20
<class 'list'>
<class 'dict'>
<class 'list'>

In [8]:
###########create hash table for given data by using dictionary python###########
data_hash_table={}  ##make hash table each entry index by object id 
for obj in loaded_data:
    print("id:",obj["id"])
    print("firstName:",obj["firstName"])
    print("surname:",obj["surname"])
    print("age:",obj["age"])
    print("gender:",obj["gender"])
    print("friends:",obj["friends"])
    data_hash_table[obj["id"]]={"id":obj["id"],"firstName":obj["firstName"],"surname":obj["surname"],\
                                "age":obj["age"],"gender":obj["gender"],"friends":obj["friends"]}
    print("#######################")

id: 1
firstName: Paul
surname: Crowe
age: 28
gender: male
friends: [2]
#######################
id: 2
firstName: Rob
surname: Fitz
age: 23
gender: male
friends: [1, 3]
#######################
id: 3
firstName: Ben
surname: O'Carolan
age: None
gender: male
friends: [2, 4, 5, 7]
#######################
id: 4
firstName: Victor
surname:
age: 28
gender: male
friends: [3]
#######################
id: 5
firstName: Peter
surname: Mac
age: 29
gender: male
friends: [3, 6, 11, 10, 7]
#######################
id: 6
firstName: John
surname: Barry
age: 18
gender: male
friends: [5]
#######################
id: 7
firstName: Sarah
surname: Lane
age: 30
gender: female
friends: [3, 5, 20, 12, 8]
#######################
id: 8
firstName: Susan
surname: Downe
age: 28
gender: female
friends: [7]
#######################
id: 9
firstName: Jack
surname: Stam
age: 28
gender: male
friends: [12]
#######################
id: 10
firstName: Amy
surname: Lane
age: 24
gender: female
friends: [5, 11]
#######################
id: 11
firstName: Sandra
surname: Phelan
age: 28
gender: female
friends: [5, 10, 19, 20]
#######################
id: 12
firstName: Laura
surname: Murphy
age: 33
gender: female
friends: [7, 9, 13, 20]
#######################
id: 13
firstName: Lisa
surname: Daly
age: 28
gender: female
friends: [12, 14, 20]
#######################
id: 14
firstName: Mark
surname: Johnson
age: 28
gender: male
friends: [13, 15]
#######################
id: 15
firstName: Seamus
surname: Crowe
age: 24
gender: male
friends: [14]
#######################
id: 16
firstName: Daren
surname: Slater
age: 28
gender: male
friends: [18, 20]
#######################
id: 17
firstName: Dara
surname: Zoltan
age: 48
gender: male
friends: [18, 20]
#######################
id: 18
firstName: Marie
surname: D
age: 28
gender: female
friends: [17]
#######################
id: 19
firstName: Catriona
surname: Long
age: 28
gender: female
friends: [11, 20]
#######################
id: 20
firstName: Katy
surname: Couch
age: 28
gender: female
friends: [7, 11, 12, 13, 16, 17, 19]
#######################

In [9]:
print(data_hash_table)

{1: {'friends': [2], 'gender': 'male', 'firstName': 'Paul', 'surname': 'Crowe', 'age': 28, 'id': 1}, 2: {'friends': [1, 3], 'gender': 'male', 'firstName': 'Rob', 'surname': 'Fitz', 'age': 23, 'id': 2}, 3: {'friends': [2, 4, 5, 7], 'gender': 'male', 'firstName': 'Ben', 'surname': "O'Carolan", 'age': None, 'id': 3}, 4: {'friends': [3], 'gender': 'male', 'firstName': 'Victor', 'surname': '', 'age': 28, 'id': 4}, 5: {'friends': [3, 6, 11, 10, 7], 'gender': 'male', 'firstName': 'Peter', 'surname': 'Mac', 'age': 29, 'id': 5}, 6: {'friends': [5], 'gender': 'male', 'firstName': 'John', 'surname': 'Barry', 'age': 18, 'id': 6}, 7: {'friends': [3, 5, 20, 12, 8], 'gender': 'female', 'firstName': 'Sarah', 'surname': 'Lane', 'age': 30, 'id': 7}, 8: {'friends': [7], 'gender': 'female', 'firstName': 'Susan', 'surname': 'Downe', 'age': 28, 'id': 8}, 9: {'friends': [12], 'gender': 'male', 'firstName': 'Jack', 'surname': 'Stam', 'age': 28, 'id': 9}, 10: {'friends': [5, 11], 'gender': 'female', 'firstName': 'Amy', 'surname': 'Lane', 'age': 24, 'id': 10}, 11: {'friends': [5, 10, 19, 20], 'gender': 'female', 'firstName': 'Sandra', 'surname': 'Phelan', 'age': 28, 'id': 11}, 12: {'friends': [7, 9, 13, 20], 'gender': 'female', 'firstName': 'Laura', 'surname': 'Murphy', 'age': 33, 'id': 12}, 13: {'friends': [12, 14, 20], 'gender': 'female', 'firstName': 'Lisa', 'surname': 'Daly', 'age': 28, 'id': 13}, 14: {'friends': [13, 15], 'gender': 'male', 'firstName': 'Mark', 'surname': 'Johnson', 'age': 28, 'id': 14}, 15: {'friends': [14], 'gender': 'male', 'firstName': 'Seamus', 'surname': 'Crowe', 'age': 24, 'id': 15}, 16: {'friends': [18, 20], 'gender': 'male', 'firstName': 'Daren', 'surname': 'Slater', 'age': 28, 'id': 16}, 17: {'friends': [18, 20], 'gender': 'male', 'firstName': 'Dara', 'surname': 'Zoltan', 'age': 48, 'id': 17}, 18: {'friends': [17], 'gender': 'female', 'firstName': 'Marie', 'surname': 'D', 'age': 28, 'id': 18}, 19: {'friends': [11, 20], 'gender': 'female', 'firstName': 'Catriona', 'surname': 'Long', 'age': 28, 'id': 19}, 20: {'friends': [7, 11, 12, 13, 16, 17, 19], 'gender': 'female', 'firstName': 'Katy', 'surname': 'Couch', 'age': 28, 'id': 20}}

In [113]:
def search_direct_friends(chosen_id):
    print("direct_friends of friend(",chosen_id,")=",data_hash_table[chosen_id]["friends"])
    return data_hash_table[chosen_id]["friends"]

def find_friends_of_friends(chosen_id):
    friends_of_friends=[]
    direct_friends_ids=search_direct_friends(chosen_id)
    for friend_id in direct_friends_ids:
        print("for friend id:",friend_id)
        friends_of_single_friend=search_direct_friends(friend_id)
        print("friends_of_single_friend id:",friends_of_single_friend)
        friends_of_friends+=friends_of_single_friend
        print("============")
      
    return set(friends_of_friends)

def get_suggested_friends(chosen_id):
    suggested_friends=set()
    count_repeated_id=[0]*21 ## build list for counting repeated id  
    direct_friends_ids=search_direct_friends(chosen_id)
    for friend_id in direct_friends_ids:
        print("for direct friend id:",friend_id)
        friends_of_direct_friend_id=search_direct_friends(friend_id)
        print("friends_of_direct_friend_id:",friends_of_direct_friend_id)
        for friend_of_friend_id in friends_of_direct_friend_id:
            count_repeated_id[friend_of_friend_id]+=1
    
    print("count_repeated_id=",count_repeated_id)
    for i in range(len(count_repeated_id)):
        if(not(i==chosen_id) and not(i in direct_friends_ids) and count_repeated_id[i]>1):
            suggested_friends.add(i)
            
    return suggested_friends

In [120]:
friends_ls=search_direct_friends(20)

direct_friends of friend( 20 )= [7, 11, 12, 13, 16, 17, 19]

In [121]:
print(friends_ls)

[7, 11, 12, 13, 16, 17, 19]

In [122]:
friendsOfFriends=find_friends_of_friends(20)

direct_friends of friend( 20 )= [7, 11, 12, 13, 16, 17, 19]
for friend id: 7
direct_friends of friend( 7 )= [3, 5, 20, 12, 8]
friends_of_single_friend id: [3, 5, 20, 12, 8]
============
for friend id: 11
direct_friends of friend( 11 )= [5, 10, 19, 20]
friends_of_single_friend id: [5, 10, 19, 20]
============
for friend id: 12
direct_friends of friend( 12 )= [7, 9, 13, 20]
friends_of_single_friend id: [7, 9, 13, 20]
============
for friend id: 13
direct_friends of friend( 13 )= [12, 14, 20]
friends_of_single_friend id: [12, 14, 20]
============
for friend id: 16
direct_friends of friend( 16 )= [18, 20]
friends_of_single_friend id: [18, 20]
============
for friend id: 17
direct_friends of friend( 17 )= [18, 20]
friends_of_single_friend id: [18, 20]
============
for friend id: 19
direct_friends of friend( 19 )= [11, 20]
friends_of_single_friend id: [11, 20]
============

In [123]:
print(friendsOfFriends)

{3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 18, 19, 20}

In [126]:
suggested_friends=get_suggested_friends(20)

direct_friends of friend( 20 )= [7, 11, 12, 13, 16, 17, 19]
for direct friend id: 7
direct_friends of friend( 7 )= [3, 5, 20, 12, 8]
friends_of_direct_friend_id: [3, 5, 20, 12, 8]
for direct friend id: 11
direct_friends of friend( 11 )= [5, 10, 19, 20]
friends_of_direct_friend_id: [5, 10, 19, 20]
for direct friend id: 12
direct_friends of friend( 12 )= [7, 9, 13, 20]
friends_of_direct_friend_id: [7, 9, 13, 20]
for direct friend id: 13
direct_friends of friend( 13 )= [12, 14, 20]
friends_of_direct_friend_id: [12, 14, 20]
for direct friend id: 16
direct_friends of friend( 16 )= [18, 20]
friends_of_direct_friend_id: [18, 20]
for direct friend id: 17
direct_friends of friend( 17 )= [18, 20]
friends_of_direct_friend_id: [18, 20]
for direct friend id: 19
direct_friends of friend( 19 )= [11, 20]
friends_of_direct_friend_id: [11, 20]
count_repeated_id= [0, 0, 0, 1, 0, 2, 0, 1, 1, 1, 1, 1, 2, 1, 1, 0, 0, 0, 2, 1, 7]

In [127]:
print("suggested friend:",suggested_friends)

suggested friend: {18, 5}

In [66]:
count_repeated_id=[0]*21

In [67]:
print(count_repeated_id)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

TypeError: list indices must be integers or slices, not list